<ion-content>
  <div class="page-container">
    <div class="page-header">
      <div>
        <h1 class="page-title">IP Assets</h1>
        <p class="page-subtitle">Manage intellectual property portfolio</p>
      </div>
      <div class="page-actions">
        <ion-button color="primary" routerLink="/ip-assets/new">
          <ion-icon slot="start" name="add-outline"></ion-icon>
          New IP Asset
        </ion-button>
      </div>
    </div>
    <!-- IP Assets content -->
  </div>
</ion-content>