<ion-content>
  <div class="page-container">
    <div class="page-header">
      <div>
        <h1 class="page-title">Licence Details</h1>
        <p class="page-subtitle">View and manage licence agreement</p>
      </div>
      <div class="page-actions">
        <ion-button color="primary">
          <ion-icon slot="start" name="create-outline"></ion-icon>
          Edit Licence
        </ion-button>
        <ion-button color="danger" fill="outline">
          <ion-icon slot="start" name="trash-outline"></ion-icon>
          Delete
        </ion-button>
      </div>
    </div>
    <!-- Licence Detail content -->
  </div>
</ion-content>