<ion-content>
  <div class="page-container">
    <div class="page-header">
      <div>
        <h1 class="page-title">Commercialisations</h1>
        <p class="page-subtitle">Track commercialisation activities and technology transfer</p>
      </div>
      <div class="page-actions">
        <ion-button color="primary" routerLink="/commercialisations/new">
          <ion-icon slot="start" name="add-outline"></ion-icon>
          New Commercialisation
        </ion-button>
      </div>
    </div>
    <!-- Commercialisations content -->
  </div>
</ion-content>